[paths]
source =
   src
   */site-packages

[run]
branch = true
source =
    thriftpyi
    tests
parallel = true

[report]
show_missing = true
precision = 2
exclude_lines =
    pragma: no cover
    TYPE_CHECKING
omit = *__main__*